<main>
    <p>Best calculator</p>
    <form class="calculator-form" id="form">
        <label for="first-operand">First number:</label>
        <input type="text" name="first-operand" id="first-operand" class="full-width-input form-control" />
        <span id="first-operand-error" hidden></span><br>
        <label for="operator"></label>
            <select id="operator" name="operator">
                <option value="+" selected>+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
        <br>
        <label for="second-operand">Second number:</label>
        <input type="text" name="second-operand" id="second-operand" class="full-width-input form-control" />
        <span id="second-operand-error" hidden></span><br>
        <button type="submit">Calculate</button>
    </form>
    {{#if hasErrors}}
        <ul class="error-list">
            {{#each errors}}
                <li>
                    {{this}}
                </li>
            {{/each}}
        </ul>
    {{/if}}
    <div id="recent-calculations"></div>
</main>