<main>
    <p>This calculator logs the 10 recent calculations</p>
    <form action="/calculator" method="post" class="calculator-form" id="form">
        <label for="first-operand">First number:</label>
        <input type="number" name="firstOperand" id="first-operand" class="full-width-input form-control" />
        <span id="first-operand-error" hidden></span><br>
        <label for="add"></label><input type="radio" id="add" name="operator" value="+">+ &nbsp;&nbsp;
        <label for="subtract"></label><input type="radio" id="subtract" name="operator" value="-">- &nbsp;&nbsp;
        <label for="multiply"></label><input type="radio" id="multiply" name="operator" value="*">* &nbsp;&nbsp;
        <label for="divide"></label><input type="radio" id="divide" name="operator" value="/">/<br><br>
        <label for="second-operand">Second number:</label>
        <input type="number" name="secondOperand" id="second-operand" class="full-width-input form-control" />
        <span id="second-operand-error" hidden></span><br>
        <button type="submit">Calculate</button>
    </form>
    {{#if hasErrors}}
        <ul class="error-list">
            {{#each errors}}
                <li>
                    {{this}}
                </li>
            {{/each}}
        </ul>
    {{/if}}
    <div id="recent-calculations"></div>
</main>